Options -Indexes
RewriteEngine On

# Pass Authorization header
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# Serve existing files and directories directly
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# SPA fallback
RewriteRule ^ index.html [L]
